@import './base.css';
body{
    height: 100vh !important;
}
.container.canvas{
    display: none;
    overflow: hidden;
}

@media print {

    html, body {
        height:100%; 
        margin: 0 !important; 
        padding: 0 !important;
        overflow: hidden;
        background-image: unset !important;
    }
    .container:not(.canvas){
        display: none;
    }
    .container.canvas{
        display: block;
    }
  
  }